<div id="<%= dom_id user_about %>">
  <p>
    <strong>User:</strong>
    <%= user_about.user_id %>
  </p>

  <p>
    <strong>Fav club:</strong>
    <%= user_about.fav_club %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= user_about.comments %>
  </p>

</div>
