body {
    background-image: url(stadium.jpeg);
}

.today_matches {
    display: flex;
}

.one_match {
    background-color: #222;
    color: white;
    border-width: 2px;
    border-color: brown;
    border-style: solid;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
}

h1 {
    color: orangered;
}